{% if site.leetcode_username %}
  <a href="https://leetcode.com/{{ site.leetcode_username }}" title="LeetCode"><i class="fa-solid fa-code"></i></a>
{% endif %}
{% if site.email %}
  <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
{% endif %}
{% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
{% endif %}
{% if site.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
{% endif %}
{% comment %}
  {% if site.bili_uid %}
    <a href="https://space.bilibili.com/{{ site.bili_uid }}" title="BiliBili"><i class="fa-brands fa-bilibili"></i></a>
  {% endif %}
{% endcomment %}
